.relocate-wrapper {
    border-radius: 0.625rem;
    padding: 1.125rem;
    font-family: 'Inter', sans-serif;
    border: 1px solid rgba(209,213,219);
    background-image: url('../../images/purple_house.png');
    opacity: 0.9;
    width: 28rem;
}

@media (max-width: 700px) {
    .relocate-wrapper {
    border-radius: 0.625rem;
    padding: 1rem;
    font-family: 'Inter', sans-serif;
    border: 1px solid rgba(209,213,219);
    background-image: url('../../images/purple_house.png');
    opacity: 0.9;
    width: 20rem;
      
    }
  }
.relocate-tabs-container {
    gap: 0.5rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5rem;
    padding: 0.5rem;
    border-radius: 0.625rem;
    background-color: white;

}
.relocate-select-city{
    margin-bottom: 3rem;
}
.relocate-tab{
    border: none;
    padding: 0.5rem 1rem;
    background-color: lightgray;
    font-size: 0.75rem;
    font-weight: bold;
    border-radius: 0.5rem;
    background-color: white;
}
@keyframes slide-down {
    0% {
     background-color: white;
     opacity: 0;
    }
    50% {
    background: linear-gradient(to left, white 50%, #BAB1E9 50%) righ
    }
    100% {
    background-color:#BAB1E9;
     opacity: 1;
    }
   }
.active{
    background-color:#BAB1E9;
    color: white;
}
.active:focus {
    animation-duration: 0.3s;
 animation-name: slide-down;
 animation-timing-function: ease-in-out;
 animation-iteration-count: 1;
 animation-fill-mode: forwards;
  }
.description{
    font-size: 1rem;
    font-weight: bold;
}
.small-desc{
    font-size: 0.8rem;
    font-weight: 500;
    color: white;
    padding: 0.5rem 0;
}
.relocate-drop-down-container{
    height: 3.125rem;
}
.relocate-input{
    margin-bottom: 1rem;
}
.relocate-input-box{
    padding: 1rem 0.5rem;
    width: 100%; 
    border-radius: 0.3rem;
}
.margin-bottom-40{
    margin-bottom: 2.5rem;
}
.cta-container{
    font-size: 1rem;
    margin-top: 2rem;}
.cta-button {
    cursor: pointer;
}
.cta-button:disabled {
    background-color: #ccc; 
  }