.retractable-table {
    border-collapse: collapse;
    width: 100%;
    transition: transform 1s ease-in-out;
  }
  
  .header-row {
    border-bottom: 1px solid #ccc;;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.93rem 1.25rem;
    margin-bottom: 0.5rem;
    transition: transform 1s ease-in-out;
  }

  .header-row th {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: left;
    cursor: pointer;
    transition: transform 1s ease-in-out;
  }
  .header-row tr {
    transition: transform 1s ease-in-out;
  }


  .header-row td {
    font-size: 1.25rem;
    font-weight: 500;
    transition: transform 1s ease-in-out;
  }
  
  .data-row {
    padding: 0.93rem 0.5rem;
    display: block;
    color: #757575;
    font-size: 1rem;
    border-bottom: 1px solid #ccc;
    transition: transform 1s ease-in-out;
  }
  
  .data-row td {
    width: 100%;
    padding: 10px;
    transition: transform 1s ease-in-out;
    
  }

  .stars {
    cursor: pointer;
    transition: transform 1s ease-in-out;
  }

  .hide-border {
    border-bottom: none !important;
  }

  .rotate-down {
    transform: rotate(270deg);
  }