.retractable-table {
    border-collapse: collapse;
    transition: transform 1s ease-in-out;
    margin: 1rem;
  }
  .retractable-table {
    border-collapse: collapse;
    width: 95%;
  }
  
  .header-row,
  .data-row {
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    max-height: 100px;
    overflow: hidden;
  }
  
  .hide-border {
    border: none;
    transition: none;
  }
  
  .rotate-down {
    transform: rotate(90deg);
  }
  
  .header-row {
    border-bottom: 1px solid #ccc;;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0.5rem;
    transition: transform 1s ease-in-out;
  }

  .header-row th {
    background-color: #f2f2f2;
    text-align: left;
    cursor: pointer;
    transition: transform 1s ease-in-out;
  }
  .header-row tr {
    transition: transform 1s ease-in-out;
  }


  .header-row td {
    font-size: 1.25rem;
    font-weight: 500;
    transition: transform 1s ease-in-out;
  }
  
  .data-row {
    padding: 0rem 0.5rem 0.5rem 0.5rem;
    display: block;
    color: #757575;
    font-size: 1rem;
    border-bottom: 1px solid #ccc;
    transition: transform 1s ease-in-out;
  }
  
  .data-row td {
    width: 100%;
    transition: transform 1s ease-in-out;
    
  }

  .stars {
    cursor: pointer;
    transition: transform 1s ease-in-out;
  }

  .hide-border {
    border-bottom: none !important;
  }

  .rotate-down {
    transform: rotate(270deg);
  }

  @media (max-width: 600px) {
    .header-row td {
      font-size: 1rem;
    }
    .data-row{
      font-size: 0.8rem;
    }
    /* .data-row td {
        width: max-content;
    }
    .retractable-table {
      margin: 0;
    } */
  }