.fillReq-requirements-wrapper{
    gap: 3.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.extra-margin{
    margin: 0 -2.256rem;
}
.requirements-section-1 {
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08), 0px 0px 4px 0px rgba(0, 0, 0, 0.04);
    padding: 0 2.56rem 2.5rem;
    flex:2;
    overflow-x: auto; /* Allow child content to scroll horizontally */
    white-space: nowrap; 
}
.requirements-section-2 {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    flex:1;
}

@media (max-width: 2000px) {
    .requirements-section-1 {
        flex:2;
    }
    .requirements-section-2 {
        flex:1;
    }
}

@media (max-width: 1700px) {
    .requirements-section-1 {
        flex:2;
    }
}

@media (max-width: 1400px) {
    .requirements-section-1 {
        padding: 0 1rem 1rem;
        overflow-x: hidden; 
    }
    .fillReq-requirements-wrapper{
        flex-direction: column;
    }
    .requirements-section-2 {
        flex:1;
        flex-direction: row;
        width: 100%;
    }
}
@media (max-width: 800px) {
    .fillReq-requirements-wrapper{
        flex-direction: column;
    }.requirements-section-1 {
        padding: 0 1rem 1rem;
        overflow-x: hidden; 
    }
    .requirements-section-2 {
        flex:1;
        flex-direction: column;
        width: 100%;
    }
}
.requirements-your-details-wrapper{
    border-radius: 12px;
    flex:1;
    background: #FFF;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08), 0px 0px 4px 0px rgba(0, 0, 0, 0.04);
    padding: 0 2.56rem 2.5rem;
}
h2 {
    color: #363636;
    font-family: Inter;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 1rem 0;
    text-align: center;
}

.family-type-wrapper{
    margin-top: 1rem;
}
h3{
    color: #58595B;
    font-family: Inter;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.36px;
    text-align: left;
    margin-bottom: 0.875rem;
}
.family-type-options-wrapper{
    gap: 0.875rem;
    margin-top: 2rem;
}
.house-type-row-one {
   gap: 0.77rem;
   flex-flow: wrap;
}
.more-house-info{
    margin-bottom: 1.875rem;
}
.more-option-floor-input{
    flex:1;
}
.fill-req-CTA-container{
    justify-content: space-between;
}
.wrapalert {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.wrapalert img {
    height: 1rem;
    width: 1rem;
    margin-right: 0.5rem;
}
.prevButton {
    margin-top: 0.75rem;
    color: orange;
    font-weight: 600;
    cursor: pointer;
}
.requirement-sub-header{
    margin-top: 1.187rem;
    color: #363636;
    font-weight: 600;
}
.edit-icon{
    cursor: pointer;
    width: 1.5rem;
}
.margin-bottom-10{
    margin-bottom: 1rem;
}

.familyNumber {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 5.5rem;
}