.header-container{
    padding: 1rem 10rem;
    background: rgba(239, 243, 253, 1);
    position: sticky;
    top: 0rem;
    z-index: 1;
}
.header-cta-container{
    gap: 2rem;
}
.header-company-logo-container{
    width: 4.5rem;
}
.header-logo-img{
    width: 4.5rem;
}
.header-CTA-item{
    text-decoration: none;
    color: #4B5563;
    font-weight: 600;
}
.header-user-wrapper{
    border-radius: 0.3rem;
    background: var(--gray-900, #111827);
    color: white;
    font-weight: 600;
    padding: 0.625rem 1.25rem;
    cursor: pointer;
}
.header-user-wrapper-btn {
    background-color: transparent;
    color: white;
    cursor: pointer;
    margin: 0 auto;
}