.header-container{
    padding: 1rem 10rem;
    background: transparent;
    position: sticky;
    top: 0rem;
    z-index: 1;
}
@media (max-width: 600px) {
    .header-container {
      flex-direction: column;
      padding: 0;
    }
    .header-cta-container{
        gap: 0;
        flex-direction: column;
    }
  }
.header-cta-container{
    gap: 1rem;
}
.header-logo-img{
    width: 4.5rem;
}
.header-CTA-item{
    text-decoration: none;
    color: #363636;
    font-weight: 600;
}
.header-user-wrapper{
    display: flex;
    padding: 0.5rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 10px;border-radius: 24px;
    background: var(--Primary, #550EC5);
    cursor: pointer;
    color: #FDFDFD;
}
.header-user-wrapper-btn {
    background-color: transparent;
    color: white;
    cursor: pointer;
    margin: 0 auto;
}
.header-item-phoneNumber-container{
    color: #248B04;
    font-size: 1rem;
    font-weight: 400;
    margin-right: 2.6rem;
}

.header-item-phoneNumber-container span{
    padding-left: 0.5rem;
}

.header-profile-picture-container{
    border: 50%;
    width: 3rem;
}

.header-more-option-container{
    cursor: pointer;
}
.header-more-option-dropdown{
    position: absolute;
    background-color: white;
    opacity: 1;
    right: 9rem;
    top: 4rem;
    border-radius: 6px;
    box-shadow: -4px 0px 11px 0px rgba(54, 54, 54, 0.24) inset;
    padding: 1rem;
    cursor: pointer;
}
.header-profile-img{
    position: relative;
}