@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html, body{
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  }

*, *::after, *::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: left;
  border:none
}
*:focus {
  outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  color: #111827;
  font-size: 0.875rem;
}
input{
  border: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex {
  display: flex;
}

.align-center{
  display: flex;
  align-items: center;
}

.justify-center{
  display: flex;
  justify-content: center;
}

.center-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
}
.cta-button {
  border-radius: 0.5rem;
  background: #FF7800;
  box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.25);
  color: white;
  padding: 0.9rem 4.3rem;
}
.disabled {
  opacity: 0.5rem;
  pointer-events: none;
}
.secondary-cta {
  border-radius: 0.5rem;
  background: rgba(117, 117, 117, 0.90);
  box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.25);
  color: white;
  padding: 0.9rem 4.3rem;
}
.grey-600{
  color: #4B5563;
}

.border-bottom {
  border-bottom: 1px solid rgba(54, 54, 54, 0.07);;
}