@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


*, *::after, *::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: left;
  border:none
}
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  color: #111827;
  font-size: 0.875rem;
}
input{
  border: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex {
  display: flex;
}

.align-center{
  display: flex;
  align-items: center;
}

.justify-center{
  display: flex;
  justify-content: center;
}

.center-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
}
.cta-button {
  background-color: #FFA726;
  color: white;
  
}

.grey-600{
  color: #4B5563;
}