
.about-us-heading {
 text-align: center;
}

.about-us-para-text{
    text-align: justify;
    margin: 2.5rem 0;
    font-weight: 400;
    font-size: 1.125rem;
    color: #757575;
}
.about-us-para-heading{
    font-weight: 500;
    font-size: 1.125rem;
    color: black;
}

.aboutUs {
    padding: 0rem 15rem 20rem 15rem;
}

@media (max-width: 600px) {
    .aboutUs {
        padding: 5rem 2rem 2rem 2rem
    }
}