@keyframes scrollAnimation {
  0% {
    transform: translateY(4rem); /* Start from translateY(2rem) */
    opacity: 0;
  }
  100% {
    transform: translateY(0); /* End at translateY(0) */
    opacity: 1;
  }
}
.insideBlogCard2 {
    margin-left: auto;
    margin-top: -7rem;
}

.insideBlogCard-bottom {
    margin-bottom: 1rem;
}
.pagination-container {
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
}
.blog-page-items-container {
    width: 34rem;
}
  
.itemBlog {
  margin-bottom: 1rem;
  display: none; /* Initially hidden */
}

.item-animate {
  display: block;
  animation: scrollAnimation 1s ease-in-out;
}


.blog-pagination {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100%;
}

.blog-pagination-item button{
    height: 1rem;
    width: 1rem;
    margin-top: 0.7rem;
    border-radius: 50%;
    transition: 1s ease width;
}

.blog-pagination-item {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition:1s ease width;
}

  .blog-video-indiv {
    position: relative;
    width: 15rem;
    height: 15rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  
  .thumbnail-container {
    position: relative;
    width: 15rem;
    height: 15rem;
    border-radius: 1rem;
  }
  
  .thumbnail {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
  }
  
  .play-button {
    width: 4rem;
    height: 4rem;
    position: absolute;
    align-items: center;
    display: flex;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-size: 2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 10px;
  }
  
  .video-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 24px;
    color: white;
  }
  
  iframe {
    width: 80%;
    height: 80%;
  }
  
  @media (max-width: 600px) {
    .blog-page-items-container {
      width: 21rem;
    }
    .blog-video-indiv {
      width: 10rem;
      height: 10rem;
    }
    .thumbnail-container {
      width: 10rem;
      height: 10rem;
    }
    .thumbnail {
      width: 10rem;
      height: 10rem;
    }
    
  }