.home-landing-container{
    position: relative;
    width: 100%;
}
.home-overlay-img{
    width: 100%;
    height: 100%;
}
.home-landing-overlay-container{
    width: 100%;
    height: 45.5rem;
}
.home-relocate-wrapper{
    position: fixed;
    top: 10rem;
    right: 10rem;
}

/* ** home components ** */

.home-components {
    padding: 1rem 10rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 10rem;
}

.home-our-services-container {
    padding: 5.6rem;
    max-width: 50%;
}
.services-row-one{
    gap: 10rem;
    margin-bottom: 3.75rem;
    margin-top: 2rem;
}

.home-components h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}
.home-cards {
    margin-top: 2rem;
    max-width: 50%;
    height: auto;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
}
.home-faq {
    max-width: 65% !important;
}