.home-landing-container{
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    margin-top: -10rem;
}

.home-elements-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.services-row-one{
    gap: 8rem;
    margin-bottom: 2rem;
    margin-top: 4rem;
}


.home-components h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

/* service Containers */

.section-container {
    position: relative;
    display: flex;
    flex-direction: column; 
    width: 100%;
    padding-right: 10rem;
}

.container-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
    margin-left: 10rem;
    width: 60%;

}

.container-home {
    background-image: url('../../images/1bg.svg');
    background-size: cover;
    height: 55rem;
    position: relative;
}

.img-left-sticky {
    position: absolute;
    top: 0; 
    left: 0;
    z-index: 0;
}
.img-right-sticky {
    position: absolute;
    bottom: -4rem; 
    right: 0; 
    z-index: 0;
}
.landing-img {
    width: 50rem;
    margin-top: 10rem;
    z-index: 1;
}


/* service Container home */ 
.container-service, .container-process {
    background-size: cover;
    height: 40rem;
    padding-top: 5rem;
    position: relative;
}

/* process Container home */ 
.container-process {
    background-size: cover;
    height: 40rem;
    padding-top: 5rem;
    position: relative;
    background-image: url('../../images/1bg.svg');
}
.img-right-sticky-process {
    position: absolute;
    bottom: 0; 
    right: 0; 
    z-index: 0;
}

.process-img {
    width: 50rem;
    margin-top: 5rem;
    z-index: 1;
}
.process-row-one{
    gap: 4rem;
    margin-top: 5rem;
}


/* process Container home */ 
.container-blogs {
    background-size: cover;
    height: 40rem;
    padding-top: 5rem;
    position: relative;
}