.home-landing-container{
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    margin-top: -10rem;
}

.home-elements-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.services-row-one{
    gap: 8rem;
    margin-top: 2rem;
}


.home-components h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.landing-img {
    width: 50rem;
    margin-top: 10rem;
    padding-top: 3rem;
    z-index: 0;
}
.home-relocate-wrapper{
    position: fixed;
    top: 10rem;
    right: 12rem;
    z-index: 1;
    justify-content: center;
    align-items: center;
    display: flex;
}


/* service Containers */



.section-container {
    position: relative;
    display: flex;
    flex-direction: column; 
    width: 100%;
    padding: 3rem 5rem;
}

.container-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
    margin-left: 10rem;
    width: 60%;

}

.container-home {
    background-image: url('../../images/1bg.svg');
    background-size: cover;
    position: relative;
}

.img-left-sticky {
    position: absolute;
    top: 0; 
    left: 0;
}
.img-right-sticky {
    position: absolute;
    bottom: -4rem; 
    right: 0; 
    z-index: 10;
    width: 20%;
}


/* service Container home */ 
.container-service, .container-process {
    background-size: cover;
    padding-top: 5rem;
    position: relative;
}

/* process Container home */ 
.container-process {
    background-size: cover;
    height: 40rem;
    padding-top: 3rem;
    position: relative;
    background-image: url('../../images/1bg.svg');
}
.img-right-sticky-process {
    position: absolute;
    bottom: 0; 
    right: 0; 
    z-index: 0;
    width: 20%;
}

.process-img {
    width: 43rem;
    margin-top: 3rem;
}
.process-row-one{
    gap: 4rem;
    margin-top: 3rem;
}




/* process Container home */ 
.container-blogs {
    background-size: cover;
    height: 48rem;
    padding-top: 8rem;
    position: relative;
}

/* .container-faq {
    padding-top: 4rem;
    padding-right: 0rem;

} */

.container-item-full {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;

}
.aboutUs {
        padding: 0;
        background-color: #F4F4F4;;
}
.container-table-faq {
    display: flex;
    justify-content:center;
    flex-direction: row;
    align-items:center;
    height: 25rem;
}
  @media (max-width: 600px) {
    .home-landing-container{
        margin-top: -13rem;
    }
    .container-process {
        height: 100%;
    }
    .container-service {
        height: 100%;
    }
    .container-item{
        width: 100%;
        margin-left: 0;
    }
    .services-row-one{
        gap: 2rem;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
    .process-img {
        width: 22rem;
    }
    .process-row-one {
        margin-top: 2rem;
        gap: 1rem;
    }
    .container-blogs {
        height: 100%;
    }
    .container-faq {
        height: 100%;
    }
    .container-table-faq{
        flex-direction: column;
    }
    
  }

  @media (max-width: 2000px) {
    .home-relocate-wrapper{
        right: 8rem;
    }
}

  
@media (max-width: 1700px) {
    .container-item {
        margin-left: 5rem;
    }
    .home-relocate-wrapper{
        right: 6rem;
    }
    .landing-img {
        width: 45rem;
    }
    .img-left-sticky {
        width: 20%;
    }
}

@media (max-width: 1400px) {
    .home-relocate-wrapper{
        right: 4rem;
    }
    .container-table-faq {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
    }
}
@media (max-width: 1300px) {
    .home-relocate-wrapper{
        right: 3rem;
    }
    .landing-img {
        width: 40rem;
    }
}
@media (max-width: 1100px) {
    .home-relocate-wrapper {
      top: 80px; 
      width: 100%;
      position: sticky;
      top: 0; /* Adjust this value based on your desired spacing from the top */
      z-index: 0; /* Adjust the z-index as needed */
      background-color: #fff; /* Background color for the sticky area */
      padding: 1rem 0.5rem; /* Add padding to create space around the content */
      
    }
    .section-container {
        position: relative;
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        padding: 2rem 2rem;
    }
    .section-container-1 {
        position: relative;
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        padding: 2rem 2rem;
    }
    @media (max-width: 1000px) {
        .section-container-1 {
            padding: 0;
        }
        
    }


    .landing-img {
        width: 100%;
    }
    .container-item{
        width: 100%;
        margin-left: 0;
    }
  }@media (max-width: 900px) {
    .img-right-sticky {
        width: 25%;
    }
  }
@media (max-width: 800px) {
    .fillReq-requirements-wrapper{
        flex-direction: column;
    }.requirements-section-1 {
        padding: 0 1rem 1rem;
    }
    .requirements-section-2 {
        flex:1;
        flex-direction: column;
        width: 100%;
    }
    .img-right-sticky {
        width: 30%;
    }
    .landing-img {
        width: 100%;
        padding-top: 7rem;
    }
    .relocate-input-box{
        width: 100%; 
        border-radius: 0.3rem;
        background-color: #FDFDFDE5;
    }
    .cta-button {
        padding: 0.5rem 0;
    }
}

.about-top{
    padding-top: 7rem;
}